.modal__content_contact {
  height: 120px;
  /* remove color if continuing forward with background-color for all modals */
  background-color: #1e2f48;
}

.modal__contact-title {
  color: #dfbd69;
}

.modal__contact-number {
  color: #dfbd69;
}
