.profile {
  font-family: "Roboto Slab";
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("../../images/TouchStone-ProfilePage-Background.svg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile__content {
  display: flex;
}

/* sidebar */
.profile__sidebar {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  position: fixed;
  width: 30%;
  height: 100%;
  left: 0%;
  background: linear-gradient(
      0deg,
      rgba(225, 190, 134, 0.8),
      rgba(223, 189, 105, 0.6),
      rgba(223, 189, 105, 0.4),
      rgba(223, 189, 105, 0.2)
    )
    fixed no-repeat;
}

/* profile sidebar header elements */
.profile__sidebar-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  background: #1e2f48;
  border: 1px solid #dfbd69;
  border-radius: 10px;
}

.profile__sidebar-chat {
  color: #dfbd69;
  margin: 10px;
}

.profile__sidebar-edit {
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 0;
}

/* profile questions content */
.profile__sidebar-content {
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  height: 100%;
}

.profile__sidebar-questions {
  margin: 10px;
  cursor: pointer;
}

/* add display none for users who have no history */
.profile__sidebar-ol {
  border: 1px solid #dfbd69;
  border-radius: 10px;
  list-style: none;
  padding: 0;
}

.profile__sidebar-li_element {
  background: #1e2f48;
  color: #dfbd69;
  border-radius: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* profile searchbar */
.profile__searchbar {
  display: grid;
  align-items: end;
  justify-content: center;
  width: 70vw;
}

.profile__searchbar-chatType_container {
  font-family: "Roboto Slab";
  border-radius: 10px;
  border: 1px solid #dfbd69;
  height: 70vh;
  width: 65vw;
  background: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1e2f48;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profile__searchbar-chatType {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  gap: 2px;
  color: #dfbd69;
}

.profile__searchbar-chatType_text {
  font-size: 15px;
  border-radius: 10px;
}

.profile__searchbar-content {
  font-family: "Roboto Slab";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e2f48;
  border: 1px solid #dfbd69;
  margin: 0 0 100px 0;
  border-radius: 10px;
}

.profile__searchbar-text {
  display: block;
  color: #dfbd69;
  caret-color: #dfbd69;
  background: none;
  border: none;
  outline: none;
  resize: none;
  width: 50vw;
  height: 40px;
  margin: 10px;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profile__searchbar-text::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "Roboto Slab";
}

.profile__searchbar-speach {
  background: none;
  border: none;
  width: 80px;
  height: 40px;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
}
