.main {
  display: flex;
  width: 100%;
}

.main__content {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../../images/TouchStone-LandingPage.png");
}
