.header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 32px 40px 0;
  background-color: #000;
  justify-content: space-between;
  z-index: 99;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  height: 60px;
}

.header__title {
  color: #e1be86;
  height: 20px;
}

@media screen and (max-width: 844px) {
  .header {
    padding: 10px 0 0 5px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    gap: 10px;
  }
}
/* 420px */
