.header {
  display: flex;
  align-items: center;
  padding: 32px 40px 0;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.header__title {
  font-size: 30px;
  color: #e1be86;
}
