.modal__title_register {
  font-family: "Roboto Slab";
  margin-top: 0;
  color: #dfbd69;
  font-size: 24px;
}

.modal__form_register {
  font-family: "Roboto Slab";
  color: #dfbd69;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}

.modal__button_register {
  font-family: "Roboto Slab";
  background-color: #1e2f48;
  color: #dfbd69;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  bottom: 10px;
  width: 100%;
}

/* potentially change this to .modal__form_register-input BEM */
.register__form-input {
  font-family: "Roboto Slab";
  background-color: #1e2f48;
  border: none;
  border-radius: 5px;
  height: 30px;
  color: #dfbd69;
}

.register__form-login {
  font-family: "Roboto Slab";
  background-color: #1e2f48;
  border: none;
  border-radius: 5px;
  height: 25px;
  color: #dfbd69;
  cursor: pointer;
}
