.modal__title_register {
  font-family: "Roboto Slab";
  margin-top: 0;
  color: #dfbd69;
  font-size: 24px;
}

.modal__form_register {
  font-family: "Roboto Slab";
  color: #dfbd69;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}

/* potentially change this to .modal__form_register-input BEM */
.register__form-input {
  font-family: "Roboto Slab";
  /* background-color: #1e2f48; */
  background-color: #dfbd69;
  border: none;
  border-radius: 5px;
  height: 30px;
  /* color: #dfbd69; */
  color: #1e2f48;
}

.register__form-button_container {
  font-family: "Roboto Slab";
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: space-between;
  align-content: flex-end;
}

.register__form-button {
  background-color: #1e2f48;
  color: #dfbd69;
  font-family: "Roboto Slab";
  border: none;
  border-radius: 5px;
}

.register__form-button:hover {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.register__form-button_text {
  font-family: "Roboto Slab";
  margin: 0px;
  padding: 10px;
}

@media screen and (max-width: 844px) {
  .modal__title_register {
    font-size: 17px;
  }
  .modal__form_register {
    font-size: 14px;
  }
}
