.footer {
  font-family: "Roboto Slab";
  background-color: #1e2f48;
  color: #e1be86;
  display: flex;
  position: absolute;
  top: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-top-style: solid;
}

.footer__options {
  display: flex;
  width: 100%;
  gap: 244px;
  align-items: center;
}

.footer_about {
  cursor: pointer;
  padding-left: 40px;
}

.footer_contact {
  cursor: pointer;
}

.footer_X {
  cursor: pointer;
  padding-right: 40px;
}

@media screen and (max-width: 844px) {
  .footer {
    width: fit-content;
    height: 20px;
    /* position: fixed; */
    top: 165%;
  }

  .footer__options {
    font-size: 12px;
  }

  .footer_about {
  }

  .footer_contact {
  }

  .footer_X {
    padding: 0;
    position: relative;
    right: 10px;
  }
}
